@import url("./__caption/caption.css");
@import url("./__image/image.css");
@import url("./__subtitle/subtitle.css");
@import url("./__title/title.css");

.lead {
    background: #2A2C2F;
    color:#FFF; 
    display:flex;
    flex-direction:column;
    align-items:center;
    /* margin:48px 148px 0px 148px; */
    /* max-width:985px; */
    margin: 48px auto;
    width: 100%;
}
