
.header__logo {
    max-width:176,58px;
}

@media screen and (min-width:375px) and (max-width:767px) {
    .header__logo {
        max-width:142px;
    }
}

@media screen and (min-width:320px) and (max-width:374x) {
    .header__logo {
        max-width:142px;
    }
}