@import url("./_image/image.css");
@import url("./_paragraph/paragraph.css");
@import url("./_title/title.css");
@import url("./_website/website.css");

.places__place {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin-top:72px;
    /* специально для safary, чтобы изображение в высоту не растягивалось */
    align-items: flex-start;
}

@media screen and (min-width:375px)  and (max-width:767px){
    .places__place {
        width: 100%;
        margin-top:48px;
    }
}

@media screen and (min-width:320px)  and (max-width:374px){
    .places__place {
        width: 100%;
        margin-top:48px;
    }
}