
.lead__caption {
    bottom:0px;
    left:0px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    margin-bottom:0px;   
    align-self:flex-start;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .lead__caption {
        max-width:83%;
        margin:10px 24px 0px 24px;
    }
}

@media screen and (min-width:375px) and (max-width:767px) {
    .lead__caption {
        max-width:89%;
        font-size: 10px;
        line-height: 12px;
        margin:8px 0px 0px 16px;
    }
}
@media screen and (min-width:320px) and (max-width:374px) {
    .lead__caption {
        max-width:89%;
        font-size: 10px;
        line-height: 12px;
        margin:8px 0px 0px 16px;
    }
}